body{
    background: #eab0dc;
    font-family: ubuntu;
}

h1{
    color: ##f3e0ee;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: center;
}

.content{
    background: #f5dbef;
    max-width: auto;
    align-content: center;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding-bottom: 10px;
    background: #f5dbef;
    font-size: 20px;
    color: #555;
    position: relative;
    border-width: 2px;
    border-top: 2px solid #e6e6e6;
    height: auto;
    width: auto;
}

li span{
    display: block;
    border-width: 2px;
}

li span:nth-child(1){
    text-align: center;
    border-width: 2px;
    font-size: 20px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

li span:nth-child(2){
    text-align: center;
    border-width: 2px;
    font-size: 20px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
}

li span:nth-child(3){
    text-align: center;
    border-width: 2px;
    font-size: 20px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
}

li span:nth-child(4){
    text-align: center;
    border-width: 2px;
    font-size: 25px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
}